<div class=" border-bottom border-dark">
<div class="container">
    <div class="row py-md-5">
        <div class="col-12 col-md-6 py-1 py-md-5 ">
            <h1 class="display-1">
                Tech Talk.
            </h1>
            <p class="fs-4 lh-1 text-muted font-weight-bold pb-5">
                What Is Programming? And How To Get Started
            </p>
            <button type="button" class="btn btn-dark rounded-pill font-weight-bold fs-5 px-4">Start reading</button>
        </div>
      
    </div>
</div>
</div>